<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Cycling Pedal Power Display</title>
        <link rel="stylesheet" href="../css/index.css" />
    </head>
    <body>
        <div class="outer-container">
            <div class="content-container" style="background: none; border-color: transparent; text-align: center;">
                <div id="admin-mode"> 
                    <h2> ADMIN SETUP </h2>
                </div>
                
                <div class="text-container">
                    <h1>CYCLING PEDAL POWER DISPLAY</h1>
                    <p style="font-size: 30px;">Drag the application screen onto the large display monitor and click continue. </p>
                    <h3>&nbsp</h3>
                </div>

                <div class="display-selection">
                    <div class="display" style="height: 55vh;">
                        <h1 style="margin-top: 5%;">LARGE</h1>
                        <img src="../images/tv.jpg" height="35%">
                        <h1 style="margin-top: 3.5%;">MONITOR</h1>
                        <button id="display-selection-continue-button" style="margin-top: -2%; font-size: 30px; width: 250px; height: 70px;" onclick="select('large');">CONTINUE</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="../javascript/display_selection.js"></script>
    </body>
</html>
