<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Cycling Pedal Power Display</title>
        <link rel="stylesheet" href="../css/index.css" />
    </head>
    <body>
        <div class="outer-container">
            <div class="content-container">
                <div class="text-container">
                    <h1 id="heading"></h1>
                    <h2 id="subheading"></h2>
                </div>

                <img id="back-arrow" src="../images/back.png" />
                <button id="home-button">Selection Screen</button>

                <div class="challenge-screen box-styling">
                    <div class="left">
                        <div>
                            <h2 id="appliance-name"></h2>
                            <p id="appliance-wattage"></p>
                        </div>
                        <img id="chosen-appliance-img" />
                    </div>

                    <div id="middle">
                        <button id="button" class="start-screen-element start">START</button>
                    </div>

                    <div id="right">
                        <p class="start-screen-element">You have chosen:</p>
                        <h2 id="mode" class="start-screen-element"></h2>
                        <img id="image-left" class="start-screen-element" src="../images/boy-on-bicycle.png" />
                        <img id="image-right" class="start-screen-element" src="../images/girl-on-bicycle-white.png" />
                        <h3 id="duration" class="start-screen-element"></h3>
                    </div>

                    <div id="modal" class="modal">
                        <div class="modal-content">
                            <span id="close">&times;</span>
                            <div class="warning-icon">
                                <img src="../images/warning-icon.png"/>
                            </div>
                            <div class="modal-heading">
                                <h2> Navigating to the previous page will end the challenge </h2>
                            </div>
                            <h3 id="modal-subheading"> Are you sure you want to proceed?</h3>
                            <button id="yes-button">YES</button>
                            <button id="no-button">NO</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <script src="../javascript/renderer.js"></script>
    </body>
</html>
