<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Cycling Pedal Power Display</title>
        <link rel="stylesheet" href="../css/index.css" />
    </head>
    <body onclick="next();" style="background: linear-gradient(180deg, #50C0FF 0%, #99DBF8 31.77%, #DDFBFF 66.67%, #FFFFFF 100%);">
        <div class="outer">
            <img src="../images/clouds.png" style="object-fit: fill; margin-left: -5%; margin-top:-10px; width: 110%; height: 100%;"/>

            <div class="inner">
                <div id="university-logo">
                    <img src="../images/university_of_glasgow_logo.PNG" height="150px"/>
                </div>
                <div class="inner-left">                
                    <img src="../images/bicycle.png" />
                </div>
                <div class="inner-right">
                    <h1>Can you run household appliances by cycling?</h1>
                    <h2>Discover the environmental impact of six common household appliances and attempt to power on their digital twins through cycling.</h2>
                    <div id="touchscreen-message">
                        <p style="width: 275px; margin-top:-50%; margin-left: 50px;">Touch the screen to continue</p>
                        <img style="position: fixed; margin-left: 130px; margin-top: -14vh;" src="../images/touchscreen_icon.png" />
                    </div>
                </div>
            </div>
        </div>
        <script src="../javascript/welcome_screen.js"></script>
    </body>
</html>
